body{
    background-color:rgb(4, 70, 4);
    margin: 0 auto;
}
footer{
    margin-top: 20px;
    text-align: center;
    background-color: white;
    display: block;
    padding: 10px;
}
.product-item{
    border-bottom: 2px solid white;
    background: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.25);
}

.product{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.product-item:hover{
    border-bottom: 2px solid white;
}
.product-img {
    width: 50%;
    height: 70%;
    position: relative;
    left: 70px;
    top: 40px;
    padding-bottom: 36px;
}
.product-title {
    font-size: 18px;
    font-weight: 600;
    color: #444444;
    margin-bottom: 10px;
    width:230px;
    position: relative;
    left: 35px;
    right: 35px;
} 
.product-list {
    width: 230px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    text-align: center;
}
.price {
    display: inline;
    font-size: 22px;
    color: black;
    margin-right: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button{
    display: inline-block;
    text-decoration: none;
    padding: 0 12px;
    background: black;
    color: white;
    font-size: 16px;
    line-height: 28px;
    border-radius: 5px;
}
.button:hover{
    background:rgb(137, 137, 137);
    color: black;
    box-shadow:0px 14px 44px 0px rgba(0, 0, 0, 0.25);
}
.button:active{
    box-shadow: 5px 5px 5px rgb(30, 1, 39);
}
.bi1{
    color: black;
    size:100px;
}
.nav-link{
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 1.96px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20%;
    position: relative;
    bottom: 90px;
}
span{
    color: white;
    font-weight: 400;
    font-family: fantasy;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: black;
    padding: 1%;

}
main{
    margin-left: 1%;
}
.about{
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: larger;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
    border-radius:10px;
    padding: 1%;
    width: fit-content;
    margin-left: 18%;
    margin-bottom: 60px;
}
.only{
    display: block;
    border-bottom: 2px double black;
}
.nav-link:hover{
    color: aliceblue;
    font-size: 18px;
    transition:0.7s;
}
.logo{
    width:5%;
    display: inline-flex;
}
.nav-t{
    color: black;
}
.avatar{
    border-radius: 50%;
}
.last-block{
    display: flex;
    width: 50%;
    padding: 43px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border-radius: 16px;
    background: white;
    margin-top: 2%;
    margin-left: 24%;
}
.text-last-block{
    max-width: 393px;
    color: #000;
    text-align: center;
    font-family: "Readex Pro";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.5px; /* 125% */
}
.type-phone{
    display: flex;
    width: 270px;
    padding: 16px 23px;
    align-items: center;
    border-radius: 54px 0px 0px 54px;
    border: 1px solid #000;
    background: black;
}
.type-phone:hover{
        box-shadow:0px 14px 44px 0px rgba(0, 0, 0, 0.25);
}
.subm{
    display: flex;
    height: 50px;
    padding: 17px 33px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 200px 200px 0px;
    color: whitesmoke;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
    background: black;
}
.subm:hover{
    box-shadow:0px 14px 44px 0px rgba(0, 0, 0, 0.25);
}
.content-input{
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.row{
    display: flexbox;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.back-in-black{
    color: #000;
}
        
.review {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 2%;
    padding-right: 30%;
    width: 40%;
}

.review img {
    border-radius: 50%;
    margin-right: 15px;
}

